<%= form_for(@cohort) do |f| %>
  
 <div class="container"> 
  <div class="field">
    <%= f.label :course %>
    <%= f.select :course_id, options_from_collection_for_select(Course.all, "id", "name") %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, start_year: (Date.today.year - 5), order: [:year, :month, :day] %>
  </div>  
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, start_year: (Date.today.year - 5), order: [:year, :month, :day] %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>