<h1>Listing cohorts</h1>
<div class="container">
<table>
<% @cohorts.each do |cohort| %>
  <tr>
   <td><%= cohort.name %></td>
   <td>Start date: <%= cohort.start_date %></td><td>End date: <%= cohort.end_date %></td> 
   <td><%= link_to 'Show', cohort if can? :show , cohort %></td>
   <td><%= link_to 'Edit', edit_cohort_path(cohort) if can? :edit , cohort %></td>
   <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy , cohort %></td>
  </tr>
<% end %>
</table>
<br><br><br>

<% if can? :create , Cohort %>
<%= link_to 'New cohort', new_cohort_path %>
<% end %>
</div>

